<!-- wp:template-part {"slug":"header","tagName":"header"} -->
<!-- wp:template-part {"slug":"header"} -->
<!-- /wp:template-part -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:0;padding-bottom:0">
	<!-- wp:post-content {"align":"full"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} -->
<!-- wp:template-part {"slug":"footer"} -->
<!-- /wp:template-part -->
