<!-- wp:template-part {"slug":"header","tagName":"header"} -->
<!-- wp:template-part {"slug":"header"} -->
<!-- /wp:template-part -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var(--wp--preset--spacing--50)","bottom":"var(--wp--preset--spacing--50)"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">
	<!-- wp:post-content /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} -->
<!-- wp:template-part {"slug":"footer"} -->
<!-- /wp:template-part -->
